/* ------- STYLE ------- */

* {
    text-align: center;
}

.border_big {
    border: 2px solid lightgrey;
}

.border_transition {
    margin: 3px;
    padding: 3px;
    border: 1px solid lightgrey;
}

.border_properties {
    border: 1px solid lightgrey;
}

.property_names {
    border: 1px solid lightgrey;
    display: inline-block;
    text-align: left !important;
}

.property_values {
    border: 1px solid lightgrey;
    display: inline-block;
    text-align: left !important;
}

.demo_border {
    border: 1px solid lightgrey;
}

/* ------- TRANSITION ------- */

#demo_trans1 {
    background-color: red;
  }

#demo_trans2 {
    background-color: green;
  }  

#demo_trans3 {
    background-color: blue;
  }  

.demo {
    width: 200px;
    height: 100px;
    /*margin: auto;*/
    margin: auto;
    padding: 10px;
    border: 1px solid lightgrey;


    /*background-color: red;*/
    /*transition-duration: 1000ms;*/
    /*transition-property: all;*/
    /*transition-duration: 500ms;*/
    /*transition-timing-function: ease;*/

    
}

#demo_trans1:hover {
    background-color: yellow;
  }
#demo_trans2:hover {
    background-color: yellow;
  }
#demo_trans3:hover {
    background-color: yellow;
  }  

.demo:hover {
    /*background-color: blue;*/
    width: 500px;
    transform: rotate(10deg);
    /*margin-right: 20em;
    margin-left: 20em;
    /*transform: rotate(45deg);*/
}

/* ------- SINGLEPAGEAPPLICATION STYLE ------- */

.hidden {
    display: none; /* Items who are not in navigation are not displayed */
}

