/* ------- STYLE ------- */

* {
    text-align: center;
}

.border_big {
    border: 2px solid lightgrey;
}

.border_transition {
    margin: 3px;
    padding: 3px;
    border: 1px solid lightgrey;
}

.border_properties {
    border: 1px solid lightgrey;
}

.property_names {
    border: 1px solid lightgrey;
    display: inline-block;
    text-align: left !important;
}

.property_values {
    border: 1px solid lightgrey;
    display: inline-block;
    text-align: left !important;
}

.demo_border {
    border: 1px solid lightgrey;
}

.database_controls {
  margin: auto;
  width: 13%;
  border: 3px solid grey;
  padding: 10px;
  border-radius: 50px;
}

a {
    color: black;
    border-radius: 25px;
    margin: 0 5px;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }

/* ------- TRANSITION ------- */

#demo_trans1 {
    background-color: lightcoral;
  }

#demo_trans2 {
    background-color: lightgreen;
  }  

#demo_trans3 {
    background-color: cornflowerblue;
  }  

.demo {
    width: 200px;
    height: 100px;
    /*margin: auto;*/
    margin: auto;
    padding: 10px;
    border: 1px solid lightgrey;


    /*background-color: red;*/
    /*transition-duration: 1000ms;*/
    /*transition-property: all;*/
    /*transition-duration: 500ms;*/
    /*transition-timing-function: ease;*/

    
}

#demo_trans1:hover {
    background-color: lightseagreen;
  }
#demo_trans2:hover {
    background-color: lightseagreen;
  }
#demo_trans3:hover {
    background-color: lightseagreen;
  }  

.demo:hover {
    /*background-color: blue;*/
    width: 500px;
    transform: rotate(10deg);
    border-radius: 50px;
    /*margin-right: 20em;
    margin-left: 20em;
    /*transform: rotate(45deg);*/
}

/* ------- SINGLEPAGEAPPLICATION STYLE ------- */

.hidden {
    display: none; /* Items who are not in navigation are not displayed */
}

